* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(8, 8, 8);
  --secondary-color: #464444;
  --text-color: rgb(107, 19, 19);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color); 
  min-height: 100dvh; 
  display: flex; 
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap; 
  text-align: center; 
  padding: 1.5rem 0;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: solid 1px var(--primary-color);
  background-color: var(--secondary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0rem; 
  letter-spacing: 1px; 
  font-weight: 500; 
  text-align: center;
  border: solid 1px var(--text-color);
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a[aria-current="page"] {
  color: var(--primary-color);
  background-color: var(--text-color); 
  border-bottom: 2px; 
  background-color: transparent;
}

main {
  padding: 1rem 2rem; 
  width: 90%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  max-width: 120px; 
  flex: 1;
}
nav a:hover {
  background-color: var(--secondary-color); 
  text-decoration: underline;
}

h1 {
  font-weight: bolder;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center; 
  margin-bottom: 3rem; 
  letter-spacing: 2px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
}

.child {
  border: solid 1px rgb(107, 19, 19);
   font: 1em sans-serif;
  font-style: oblique;
  margin: 0rem;  
    object-fit: cover; 
  display: block;
  width: 250px; 
   background-color: var(--primary-color)
}
.child:hover { 
transform: translateY(-5px); 
box-shadow: 0 4px 12px; 


} 
.child img { 
  width: 250%;
  height: 600px; 
  object-fit: cover; 
  display: block; 
  
}
.parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  align-items: center; 
  width: 100%; 
  justify-content: center; 
  gap: 30px;
  
}
.image {
  border: solid 1px rgb(107, 19, 19);
  
  margin-bottom: 5px; 
  max-width: 50%; 
  height: auto; 
  display: block; 
  margin: auto 0; 
  width: 100%; 
  height: 200px; 

}

.backgroundtext {
  background: var(--primary-color); 
  font-style: italic; 
  font-weight: 400; 
  font-size: 1.5rem; 
  margin-top: -2rem;
}

.footer {
  display: flex;
  padding: 20px;
  background-color: red;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0px;  
  left: 0;
  text-align: center; 
  box-sizing: border-box; 
  margin-top: auto;
} 
.backgroundimage {  
  position: relative; 
  top: 0; 
  flex: 100; 
  min-width: 200px;  

  



} 

form{ 
 display: flex; 
 flex-direction: row; 
 justify-content: center; 
 margin-bottom: 2rem;
 

} 
input [type="submit"] { 
  font-family: "Times New Roman", Times, serif; 
  font-style: italic; 
  width: 100px; 
height: 40px; 
padding: 0%; 

 
} 
